.base {
  z-index: 0 !important;
  transition: margin-left 0.9s ease;
  transition: max-width 0.9s ease;
  background-color: #fff !important;

  &__body {
    width: 300px;
    border-right: 1px solid var(--border-color);
  }
}
