@import "/src/styles/mixins.scss";

.sidenav {
  background-color: crimson !important;
  width: 64px;
  @include direction-column;
  justify-content: space-between;

  .expand {
    position: relative;
    // @include element-center;
    padding: 20px 0px 20px 23px;
    color: #fff;

    &__writer {
      display: flex;
      align-items: center;
    }

    &__icon {
      position: absolute;
      top: 50%;
      right: 0px;
      transform: translate(50%, -50%);
      background-color: blue;
      cursor: pointer;
      border-radius: 50%;
      width: 35px;
      height: 35px;
      @include element-center;
      border: 4px solid #fff;
    }
  }
  .asset {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    &__setting {
      cursor: pointer;
    }
    &__helpers {
      @include align-items-center;
      gap: 10px;
      flex: 1;

      &__icon {
        cursor: pointer;
      }
    }
  }
}
