@import "/src/styles/mixins.scss";

.textAreaWrapper {
 width: 100%;
}

.disabled {
 background-color: #f6f8f9 !important;
 border: 1px solid #dde2e4 !important;
 padding-left: 0 !important;

 &:hover,
 &:focus {
  transition: none;
  border: 1px solid #dde2e4 !important;
 }

 .input {
  background-color: #f6f8f9;
  color: #84919a !important;
 }
}

.noBorder {
 textarea {
  border-color: transparent;
 }
}

.errMsg {
 color: #f76659;
 font-size: rem(12);
}
